@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure images are responsive */
img {
    width: 100%;
    height: auto;
    max-width: 100%; /* Prevents images from growing larger than their parent container */
}

.speech-bubble {
    position: relative;
    background-color: #54cfd3; /* Light color for the bubble */
    color: #121212; /* Dark text */
    font-size: 2em; /* Adjust text size as needed */
    padding: 1em;
    border-radius: 1em;
    max-width: 80%;
    margin: 2em auto;
    /* text-align: center; */
    display: inline-block; /* Ensures it doesn't take up the whole width */
}

.speech-bubble::after {
    content: '';
    position: absolute;
    bottom: -0.8em; /* Position the tail below the bubble */
    left: 30%; /* Center the tail */
    transform: translateX(-50%); /* Adjust for centering */
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent; /* Tail left side */
    border-right: 0.5em solid transparent; /* Tail right side */
    border-top: 1em solid #54cfd3; /* Tail color */
}


/* Body and Layout Styling */
body {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #d4d4d4;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #121212;
    overflow-x: hidden;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 0.1em;
    flex-wrap: wrap;
}

.badge-icon {
    margin-right: 0.3em;
}

/* Sidebar Styling */
.sidebar {
    width: 20vw;
    height: 100%;
    background-color: #121212;
    position: fixed;
    top: 0;
    left: 0;
    color: #f5f5f5;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Ensure the sidebar stays on top of content */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: right;
}

.sidebar ul li a {
    text-decoration: none;
    display: block;
    transition: font-weight 0.3s ease;
}

.sidebar ul li a:hover {
    font-weight: 800;
}

/* Content Area */
.content {
    margin-left: 20vw; /* Make space for the sidebar */
    width: 80vw;
    height: 100vh;
}

/* Section Styling */
.section {
    background-color: #131313;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

#title {
    justify-content: center;
}

.button-container {
    padding-top: 1rem;
}

/* Projects Container */
.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
}

.project {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project > p {
    font-size: 0.9em;
    margin-top: 1.5em;
}

.project-header {
    margin-top: 1em;
    padding-bottom: 1.5em;
}

#project-name {
    margin: 0;
}

.project-image {
    position: relative; 
}

.project-image > img {
    height: 100%;
}

.project-image-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5em;
}

.project-image-links a {
    background-color: #242424;
    padding: 0.3em 1em;
    border-radius: 0.5em;
}

.project-image:hover {
    cursor: pointer; 
}

.project-image div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    margin-bottom: 0;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.15s ease-in-out, visibility 0s 0.15s;
}

.project-image div a {
    color: white;
}

.project-image:hover div {
    visibility: visible; 
    opacity: 0.85; 
    transition: opacity 0.15s ease-in-out, visibility 0s 0s;
}

#project-tag {
    margin-left: 1.5em;
    font-size: 1rem;
    background-color: #252525;
    padding: 0.3em 0.7em;
    border-radius: 15px;
}

.project-badge {
    background-color: #1c1c1c;
    font-size: 0.8em;
    padding: 0.4em 1em;
    border-radius: 0.2em;
    margin-right: 0.3em;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s ease;
}

.project-badge:hover {
    background-color: #242424;
}

.project-footer {
    margin-top: 0.5em;
}

.socials-icons-container {
    display: flex;
    align-items: center;
}

.socials-icons-container a {
    color: white;
    background-color: #1a1a1a;
    padding: 1em;
    margin: 0.5em;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s
}

.socials-icons-container .linkedin-icon:hover {
    background-color: #0077B5;
}

.socials-icons-container .github-icon:hover {
    background-color: #5a5a5a;
}

.socials-icons-container .email-icon:hover {
    background-color: #2f9d45;
}

.socials-icons-container i {
    font-size: 1em;
}

#subheader {
    color: #54cfd3;
}

h1 {
    font-size: 2em;
    color: #d4d4d4;
    padding-bottom: 0.7em;
}

h2 {
    color: #a1a1a1;
}

h3 {
    font-size: 1.5em;
    color: #555;
}

/* Form Styling */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #444;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* --- Responsive Design --- */

/* When screen width is less than or equal to 768px (Tablets) */
@media (max-width: 768px) {
    body {
        display: block;
        width: 100vw;
    }

    /* Sidebar for smaller screens */
    .sidebar {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }

    .sidebar ul {
        width: 100%;
        padding: 10px;
        margin: 0;
        display: flex; 
        justify-content: space-between; 
        flex-direction: row;
    }

    .sidebar ul li {
        flex: 1;
        text-align: center;
        padding: 0;
    }

    .sidebar ul li a.active {
        font-weight: bold;
    }

    /* Content adjustments for small screens */
    .content {
        padding-left: 2em; 
        padding-right: 2em;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    /* Section padding for small screens */
    .section {
        margin-bottom: 0.5em;
        padding: 5em 2em 3em 2em;
    }

    /* Make projects one column on smaller screens */
    .projects-container {
        grid-template-columns: 1fr;
    }

    h1, h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.3em;
    }
}

/* When screen width is between 769px and 1024px (Small screens, laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
    .projects-container {
        grid-template-columns: 1fr; /* 1 column layout on smaller screens */
    }

    h1, h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.4em;
    }

    .section {
        margin-bottom: 0.5em;
        padding: 5em 4em 3em 4em;
    }

    .content {
        width: 80vw;
    }
}

/* When screen width is between 1025px and 1200px (Desktops, large screens) */
@media (min-width: 1025px) and (max-width: 1400px) {
    .projects-container {
        grid-template-columns: 1fr;
    }

    h1, h2 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.5em;
    }

    .section {
        padding-top: 5em;
        margin-bottom: 1em;
        padding-left: 5em;
    }
}

/* When screen width is greater than 1200px (Large Desktops) */
@media (min-width: 1401px) {
    .sidebar {
        max-width: 25em;
    }

    .section {
        padding-left: 5em;
        padding-right: 5em;
        padding-top: 7em;
    }

    h1, h2 {
        font-size: 2.4em;
    }

    h3 {
        font-size: 1.6em;
    }
}
